.container {
    display: flex;
    width: 100%;
    margin-top: 50px;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container1 {
    display: flex;
    width: 100%;
    margin: 0px;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#photo {
    position: absolute;
    border-radius: 75%;
    right: 10%;
    top: 10%;
    display: none
}


/*
#logOutButton,
#logInButton {
    position: absolute;
    right: 75%;
    top: 35%;
}
*/

@media(max-width: 500px) {
    #photo {
        display: none
    }
}